@charset "utf-8";

/* reset*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body, html {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, 
table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0px;
    padding: 0px;
}


h1, h2, h3, h4, h5, h6, ul, li, ol, li, dl, dt, dd, p{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}

img, fieldset {
    border: 0px;
    vertical-align: top;
}

ul, ol, dl {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(49, 49, 49);
}

caption, legend {
    border: 0px;
    display: none;
}

em {
    font-weight: bold;
    font-style: normal;
}


.clear::after {
    content: "";
    clear: both;
    display: block;
}