@charset "utf-8";

/* layout */

#wrap {  }
.inner { max-width: 1050px; margin: 0 auto;}

/* 모바일 */

/* 헤더 */
header { position: relative; }
header .inner { position: relative;
                margin: 25px auto 50px; }

.logo { width: 80px; height: 80px; margin-left: 3%;}
.logo img { width: 100%;}
.toggle { position: absolute; right: 3%; top: 50%;
          transform: translateY(-40%); }
.toggle span{ display: block; width: 40px; height: 4px;
              background-color: #7a7a7a;
              margin-bottom: 12px; border-radius: 8px;}
.toggle span:nth-child(3) { margin-bottom: 0;}


/* 모바일 메뉴 */
.top_menu { display: none; }
.pc_gnb { display: none;}
.gnb { display: block; width: 100%; height: 0px; overflow: hidden;
        position: absolute; top: 110px; left: 0; z-index: 999;
        background-color: #7a7a7ae7; opacity: 0; transition: .5s;
         }
.gnb.on { height: auto; opacity: 1; }
.main_menu{ margin-left: 20px; width: 100%; 
            height: 60px; line-height: 60px; overflow: hidden; }
.main_menu>a { color: #fff; font-weight: 700; font-size: 16px; }
.main_menu:hover>a { color:rgb(159, 223, 248)}

.sub_menu { margin-left: 10px; }
.sub_menu a{ color: #fff; font-weight: 700; font-size: 14px; 
             line-height: 50px; }
.sub_menu a:hover { color:rgb(159, 223, 248)}

.main_menu.on { height: auto; transition: .3s; }


/* 슬라이더 플러그인 사용 */
#visual { max-width: 1200px; margin: 0 auto;}
.mySwiper { position: relative; height: 100%; overflow: hidden;}
.swiper-wrapper img { width: 100%; height: 100%; }
.swiper-pagination { --swiper-theme-color: rgb(159, 223, 248); }

/* 본문단 */
#content { margin-top: 80px; }
#content .inner { padding: 0 5%; }
.title { text-align: center; font-weight: 700;
         font-size: 28px;
         margin-bottom: 50px;}

/* 전시 */
.txtBox {  width: 100%; text-align: center; line-height: 2;
           background-color: rgba(0,0,0,0.5);
           color: #fff; text-shadow: 1px 1px 2px #2b2b2b; 
           position: absolute; bottom: 0; left: 50%;
           transform: translateX(-50%);
            padding: 3%;
           }
.gallery li, .vr, .program { position: relative; 
              margin: 0 auto 50px; overflow: hidden;
              border: 1px solid #ccc;
              }
.gallery li img { width: 100%; transition: .5s; }
.gallery li:hover img { transform: scale(1.05);}

.sub_title { font-weight: 700; font-size: 20px;}
.ex_title { font-size: 14px; padding: 0 5px }
.date { font-size: 12px;  }

/* 이전 전시 PC만 구현 */
.ex_prev { display: none; } 
.ex_next .imgBox { background-color: rgba(255, 255, 255,0.3);}
.ex_next img { opacity: 0.7; }
.ex_next:hover img { opacity: 0.9; }

/* 온라인 전시 */
.savina_art { width: 100%; }
.savina_art img { width: 100%; transition: .5s; opacity: 0.8; }
.savina_art .imgBox { background-color: rgba(255, 255, 255,0.3); }
.vr:hover img, .program:hover img { transform: scale(1.05);  opacity: 1; }
.vr img { transform: scale(0.99);  }

/* 공지사항 */

.guide { width: 90%; margin: 80px auto; }
.guide .title { margin-bottom: 20px;; }
.notice { width: 100%; margin: 10px auto;}
.link{ display: block;  text-align: right; 
               margin: 0 10px 20px 0 ; 
               font-size: 12px;}
.list { line-height: 2;}
.list li { padding: 5px 15px; }
.list li:hover a { text-decoration: underline;}
.list a { 
        max-width: 100%;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;  }

.news { display: none; }
.schedule { display: none;}

/* 푸터 */

footer { margin-top: 120px; font-size: 12px; }
.btn_menu { width: 90%; margin: 0 auto; 
            display: flex; 
            justify-content: space-between;
            padding: 10px;
            border-top: 1px solid #7a7a7a;
            border-bottom: 1px solid #7a7a7a;
          }
.btn_menu li { flex: 1 1 auto; position: relative; text-align: center;}
.btn_menu li::after{ content: ""; display: block; background-color:#7a7a7a; 
                     position: absolute;  top: 48%; left: 2%; transform: translateY(-50%);
                      width: 1px; height: 14px; }
.btn_menu li:nth-child(1):after { display: none; }

.copyright { display: flex;  padding: 20px; margin: 0 auto;
          align-items: center; justify-content: space-around;}
.btn_logo { width: 50px; margin-right: 10px;  }
.icon{ display: none; }



/* 태블릿 */
@media screen and ( min-width: 678px ) {

/* 헤더 */
.toggle { display: none !important; }
.toggle span{ display: none;}
header .inner {
        margin: 25px auto 80px; }

/* 메뉴 */
.top_menu { display: block;} 
.top_sub { display: flex; align-items: center;
           height: 30px;
           position: absolute; top: 0; right: 3%;
           font-size: 14px; }
.top_sub li { margin-left: 20px; text-align: center; }
.top_sub li:hover a { font-weight: 700;}

.search { display: none; font-size: 12px;  }
.search.on { display: block;
             width: 200px; 
             height: 14px; padding: 5px;}
.gnb { display: none;}

.main_gnb { }
.pc_gnb { display: block; width: 80%; height: 60px; overflow: hidden;
       position: absolute; top: 50px; left: auto; right: 0;
       z-index: 9999; display: flex; flex-flow: row nowrap; 
       justify-content: space-around; transition: height .3s;  }
.pc_gnb.on { height: 310px; overflow: hidden; }
.pc_gnb:hover { height: 310px; overflow: hidden; }
.pc_main_menu{ margin-left:0; width: 28%;  z-index: 99999;
            text-align: center; height: 60px; line-height: 60px;  }
.pc_main_menu>a { color: #555; font-weight: 700; font-size: 16px;}
.pc_main_menu:hover {background-color:#7a7a7ae7}
.pc_main_menu:hover>a { color:#fff; }

.pc_sub_menu { margin-left: 0px; width: 100%; height: 200px; 
                background-color:#7a7a7ae7; }
.pc_sub_menu a{ color: #fff; font-weight: 700; font-size: 14px; 
             line-height: 50px; display: block; }

.pc_sub_menu a:hover { background-color:rgba(159, 223, 248, 0.911); }


/* 본문단 */
#content { margin-top: 80px; }
#content .inner { padding: 0 5%;}
section { padding-top: 40px;}
.title { text-align: center; font-weight: 700;
         font-size: 28px;
         margin: 0px auto 50px;}

/* 전시 */

.txtBox {  
        width: 100%; height: 30%; max-height: 100px;
        text-align: center; line-height: 2;
        
        background-color: rgba(0,0,0,0.5);
        color: #fff; text-shadow: 1px 1px 2px #2b2b2b; 
        position: absolute; bottom: 0; left: 50%;
        transform: translateX(-50%);
        padding: 0px;
        vertical-align: middle;
        }

.sub_title { font-size: 18px; }
.ex_title { padding: 0px }


.gallery { display: flex; flex-flow: row nowrap; 
           justify-content: space-around;
         }
.gallery li { width:49%; height: auto; }

.plus { display: flex; flex-flow: row nowrap;
        justify-content: space-around;}
.plus li { width: 49%; height: auto;}

.plus .ex_title { 
        width: 90%; margin: 1% auto;
        overflow: hidden;    
        text-overflow: ellipsis;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

/* 공지사항 */

.guide { width: 90%; margin: 0 auto; 
         max-width:1050px; }
.guide_list { 
        width: 100%;
        display: flex; 
        flex-flow: row nowrap;
         align-items: center;
         justify-content: space-around;}
.guide .title { margin-top: 20px;}  
.notice { margin: 0;}
.notice, .news { width: 49%; height: 350px;
                 overflow: hidden; box-sizing: border-box;
                 border: 1px solid #ccc;
                 padding: 20px 10px;}    
.schedule img { width: 49%; height: 330px;
        overflow: hidden; box-sizing: border-box;
        border: 1px solid #ccc; padding: 2px;} 

.news { display: block; }
.list a { font-size: 14px; }
.schedule { display: none;}


/* 푸터 */

footer { position: relative;
         max-width: 1050px; margin: 120px auto;}
.btn_menu li a { font-size: 14px; }
.copyright { 
        max-width: 90%; height: auto; 
        display: flex;  padding: 10px 0; 
        justify-content: left;  }
.btn_logo { margin-right: 20px;}
.copy { font-size: 12px; }
.icon { display: block; position: absolute; 
        right:4%; bottom: 20%; }
        .icon img { border-radius: 4px;}
}


/* PC */
@media screen and ( min-width: 968px ) {

.inner { max-width: 1050px; margin: 0 auto; padding: 0}
/* 전시 */

.ex_prev { display: block; } 
.gallery { display: grid;  grid-auto-flow: column; gap: 1.2%;}
.gallery li:nth-child(1) {  grid-column: 1/3; grid-row: 1/2; 
                        text-align: center; max-height: 450px; }
.gallery li:nth-child(1) img { width: 65%; transform: translateY(-70px)}
.gallery li:nth-child(1):hover img { width: 68%; transform: translateY(-90px)}
.gallery li:nth-child(2) {  grid-column-start: 2/3; grid-column-end: 2; }
.gallery li:nth-child(3) {  grid-column-start: 2/3; grid-column-end: 3; }
.gallery li { width: 100%; height: auto; }

.gallery li img { height: 100%; height: auto; }

/* 공지사항 */

.guide_list { 
        width: 100%;
        display: flex; 
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;}

.notice, .news, .schedule { 
        width: 32.5%; height: 305px;
}
.schedule { display: block; }
.schedule img { width: 100%; height: 100%;}

/* 푸터 */

.btn_menu { width: 95%; }
.copyright { max-width: 95%;
             justify-content: left;
             line-height: 1.6;   }
.btn_logo { width: 60px; height: auto;  }
.icon { right: 2%; bottom: 10%; }
.icon img { width: 25px; height: 25px;}
}

/* 서브메뉴, 슬라이더 height 조정 */